@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #39b7f1;
}

/*header section*/
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
  height: 200vh;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.clubName {
  font-family: "Lora", serif;
  font-size: 75px;
  font-weight: bold;
  color: #071952;
  background-image: -webkit-linear-gradient(
    0deg,
    white 41%,
    white 57%,
    white 68%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-top: 8%;
}
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 2rem;
  width: 100%;
}
.site-navbar.transparent {
  background: transparent;
}
.site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.site-navbar .site-logo {
  position: relative;
  left: 0;
  font-size: 24px !important;
}
.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}
.site-navbar .site-navigation .site-menu .active > a span {
  background: #007bff;
  background-color: #;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
  padding: 5px 20px;
}
.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navbar .site-navigation .site-menu > li > a {
  padding: 10px 0px;
  color: #fff;
  font-size: 16px;
  text-decoration: none !important;
}
.site-navbar .site-navigation .site-menu > li > a > span {
  padding: 5px 20px;
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  border-radius: 30px;
}
.site-navbar .site-navigation .site-menu > li > a:hover > span {
  background: #007bff;
  color: #fff;
  border-radius: 30px;
  display: inline-block;
}
.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}
.site-navbar .site-navigation .site-menu .has-children > a span {
  position: relative;
  padding-right: 30px;
}
.site-navbar .site-navigation .site-menu .has-children > a span:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}
.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #007bff !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li
  > a:hover {
  background: #fafafb;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a {
  position: relative;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > a:after {
  position: absolute;
  right: 0;
  content: "\e315";
  right: 20px;
  font-family: "icomoon";
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > .dropdown,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children
  > ul {
  left: 100%;
  top: 0;
}
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:hover
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:active
  > a,
.site-navbar
  .site-navigation
  .site-menu
  .has-children
  .dropdown
  > li.has-children:focus
  > a {
  background: #fafafb;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #007bff;
}
.site-navbar .site-navigation .site-menu .has-children:hover > a span,
.site-navbar .site-navigation .site-menu .has-children:focus > a span,
.site-navbar .site-navigation .site-menu .has-children:active > a span {
  background: #007bff;
  color: #fff;
}
.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}
.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #f8f9fa;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}
.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}
.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}
.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}
.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}
.site-mobile-menu .site-nav-wrap li.active > a {
  color: #007bff;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}
.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}
.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}
.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo {
  width: 80px;
  margin-right: 20px;
}

.m-0 {
  color: #071952 !important;
  font-weight: 900;
}
.btn {
  background-color: #071952 !important;
}

.color_blue {
  color: #37b7c3;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.navbar-brand span {
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* carousel */

.do_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.do_section .do_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}

.do_section .do_container .box {
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 35px 25px 0 25px;
}

.do_section .do_container .box .img-box {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  border: 10px solid #0cc0df;
}

.do_section .do_container .box .img-box img {
  width: 250px;
}

.do_section .do_container .box .detail-box {
  margin-top: 35px;
}

.do_section .do_container .box:hover .img-box {
  background-color: #d0d4e0;
}

.do_section .do_container .arrow_bg::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -17px;
  width: 262%;
  height: 90%;
  z-index: 3;
  background-size: cover;
}

.do_section .do_container .arrow-start::before {
  background-image: url(../images/arrow-start.png);
}

.do_section .do_container .arrow-middle::before {
  background-image: url(../images/arrow-middle.png);
}

.do_section .do_container .arrow-end::before {
  background-image: url(../images/arrow-end.png);
}

.who_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.who_section .img-box img {
  width: 100%;
}

.who_section .detail-box {
  margin-left: 65px;
}

.who_section .detail-box p {
  margin-top: 35px;
}

.who_section .detail-box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #353434;
  border: 1px solid #353434;
  color: #ffffff;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
}

.who_section .detail-box a:hover {
  background-color: transparent;
  color: #353434;
}

.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1%;
}

.work_section .work_container .box {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.work_section .work_container .box img {
  width: 100%;
}

.work_section .work_container .box.b-2,
.work_section .work_container .box.b-3 {
  width: 43.5%;
}

.work_section .work_container .box.b-1,
.work_section .work_container .box.b-4 {
  width: 56.5%;
}

.client_section {
  padding-bottom: 150px;
}

.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
}

.client_section .box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.client_section .box .img-box {
  width: 60px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.client_section .box .detail-box h5 span {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #fec016;
}

.client_section .box .detail-box img {
  width: 15px;
  margin: 35px 0;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.client_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #000000;
  background-size: 16px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -75px;
  outline: none;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.client_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/prev.png);
  left: 50%;
  -webkit-transform: translateX(-102%);
  transform: translateX(-102%);
}

.client_section .owl-carousel .owl-nav .owl-next {
  right: 50%;
  background-image: url(../images/next.png);
  -webkit-transform: translateX(102%);
  transform: translateX(102%);
}

.client_section .owl-carousel .owl-dots.disabled,
.client_section .owl-carousel .owl-nav.disabled {
  display: block;
}

.client_section .owl-item.active.center .box {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.target_section {
  background-image: url(../images/target-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.target_section .detail-box {
  margin: 30px 0;
}

.target_section h2 {
  font-weight: bold;
}

.target_section h5 {
  font-size: 18px;
  font-weight: 500;
}

/* out Sport  */
.game {
  width: 200px;
}
.sports {
  padding-top: 90px;
}

.sports .titlepage p {
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  padding-top: 10px;
  margin-bottom: 40px;
}

.sports_main figure {
  margin: 0;
}

.dorder {
  border: #1f1d45 solid 20px;
  width: 450px;
}

.sports_main figure img {
  filter: drop-shadow(0px 0px 4px #1e1e1e3d);
  border-radius: 50%;
}

.sports_text h3 {
  padding-top: 30px;
  color: #26cc35;
  font-size: 30px;
  line-height: 30px;
  padding-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.sports_text p {
  color: #111111;
  font-size: 17px;
  line-height: 30px;
  padding-bottom: 25px;
}

.dark3 {
  color: #171717 !important;
}

.sports_text .read_more {
  max-width: 143px;
  line-height: 48px;
  height: 48px;
}

.read_more {
  display: inline-block;
  background: #071952;
  color: #fff;
  max-width: 201px;
  height: 67px;
  line-height: 67px;
  width: 100%;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
  transition: ease-in all 0.5s;
}

.read_more:hover {
  background: #1f1d46;
  color: #fff;
  transition: ease-in all 0.5s;
}

/* end sport section */

/* footer section*/
.footer {
  margin-top: 6rem;
  padding-top: 9rem;
  background: url(../images/bg-circle.png), url(../images/bg-triangle.png),
    url(../images/bg-top.png),
    linear-gradient(to bottom right, var(--primary), var(--secondary));
  background-position: left 0px bottom 0px, right 0px top 50%, center top;
  background-repeat: no-repeat;
  width: 80%;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.container-xxl {
  margin-left: auto;
  margin-right: auto;
}

/* end footer section*/
/* nav bar ka about page*/
.about-nav {
  color: #000000 !important;
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  height: 10vh !important;
}
/*end ka navbar ka about page*/
