@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #39b7f1;
}

/*header section*/
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
  position: relative;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

/*end header section*/
/* carousel */

.do_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.do_section .do_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 10px;
}

.do_section .do_container .box {
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 35px 25px 0 25px;
}

.do_section .do_container .box .img-box {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: none;
  border-radius: 100%;
  border: 10px solid #0cc0df;
}

.do_section .do_container .box .img-box img {
  width: 250px;
}

.do_section .do_container .box .detail-box {
  margin-top: 35px;
}

.do_section .do_container .box:hover .img-box {
  background-color: #d0d4e0;
}

.do_section .do_container .arrow_bg::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -17px;
  width: 262%;
  height: 90%;
  z-index: 3;
  background-size: cover;
}
.we_offer {
  position: relative;
  background-image: url(../images/bg\\\(3\).jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.we_offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity (last value) as needed */
}
.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1%;
}

.work_section .work_container .box {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.work_section .work_container .box img {
  width: 100%;
}

.work_section .work_container .box.b-2,
.work_section .work_container .box.b-3 {
  width: 43.5%;
}

.work_section .work_container .box.b-1,
.work_section .work_container .box.b-4 {
  width: 56.5%;
}

.client_section {
  padding-bottom: 150px;
}

.client_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 45px;
}

.client_section .box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.client_section .box .img-box {
  width: 60px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.client_section .box .detail-box h5 span {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color: #fec016;
}

.client_section .box .detail-box img {
  width: 15px;
  margin: 35px 0;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.client_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #000000;
  background-size: 16px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -75px;
  outline: none;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.client_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/prev.png);
  left: 50%;
  -webkit-transform: translateX(-102%);
  transform: translateX(-102%);
}

.client_section .owl-carousel .owl-nav .owl-next {
  right: 50%;
  background-image: url(../images/next.png);
  -webkit-transform: translateX(102%);
  transform: translateX(102%);
}

.client_section .owl-carousel .owl-dots.disabled,
.client_section .owl-carousel .owl-nav.disabled {
  display: block;
}

.client_section .owl-item.active.center .box {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.target_section {
  background-image: url(../images/target-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.target_section .detail-box {
  margin: 30px 0;
}

.target_section h2 {
  font-weight: bold;
}

.target_section h5 {
  font-size: 18px;
  font-weight: 500;
}

/* footer section*/

.container-xxl {
  margin-left: auto;
  margin-right: auto;
}

/* end footer section*/

/* membership section */
.headings {
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  display: flex;
}
.head-1 {
  color: #0cc0df;
  text-align: center;
  font-family: Caveat, sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 65px;
}
.m-para {
  /* padding-left: 45px;
  padding-right: 45px; */
  color: var(--grey);
  text-align: center;
  margin-top: 50px;
  padding-left: 112px;
  padding-right: 112px;
  font-family: Nanum Gothic, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.type-1 {
  /* text-align: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 5px auto;
  padding-left: 0;
  padding-right: 0;
  /* font-family: Nanum Gothic, sans-serif; */
  /* font-size: 25px;
  font-weight: 700; */
  line-height: 30px;
  display: flex;
  box-shadow: 1px 1px 11px -3px #000;
}
.back-img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.para-type-1 {
  color: grey;
  text-align: center;
  margin-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Nanum Gothic, san-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.type-members {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-top: 35px;
}
.summary {
  background-image: url(../images/design2.png);
  background-color: #0cc0df;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  list-style: none;
  cursor: pointer;
  width: 100%;
  padding: 25px 0 0 0;
}
.head-type-1 {
  color: white;
  text-align: center;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 800;
  font-size: 32px;
}
.summary p {
  color: grey;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Nanum Gothic, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.unordered-list {
  color: grey;
  margin-top: 20px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 16px;
  list-style: square;
}
.small-head {
  color: blue;
  margin-top: 10px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 25px;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 700;
}
.ordered-list {
  color: grey;
  margin-top: 20px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 16px;
  list-style: decimal;
}
.form-1 {
  background-color: #0cc0df;
  text-align: center;
  display: block;
  width: 200px;
  margin: 5px auto;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 700;
}
.point {
  color: grey;
  margin-top: 10px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 16px;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 400;
}
.heading-2 {
  color: rgb(255, 217, 0);
  text-align: center;
  margin-top: 35px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 34px;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 700;
}
.m-para-2 {
  color: grey;
  text-align: center;
  margin-top: 35px;
  padding-left: 112px;
  padding-right: 112px;
  font-family: Nanum Gothic, sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.explanation-row {
  margin-top: 20px;
}
.reason {
  color: grey;
  text-align: center;
  margin-top: 10px;
  padding-left: 44px;
  padding-right: 44px;
  font-size: 16px;
  font-family: Nanum Gothic, sans-serif;
  font-weight: 400;
  list-style: georgian;
}
.list-reasons {
  margin-top: 10px;
  text-align: center;
  padding-left: 54px;
  padding-right: 40%;
  font-size: 25px;
  list-style: square;
  margin-left: 35%;
}

/* membership section on index.html */
.membership {
  background-image: url(../images/membershipbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}
